%p#notice= notice
%p
  %strong Title:
  = portfolio_item.title
%p
  %strong Subtitle:
  = portfolio_item.subtitle
%p
  %strong Body:
  = portfolio_item.body
= link_to 'Edit', edit_portfolio_path(portfolio_item)
|
= link_to 'Back', portfolios_path
